---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="p-4 m-4">
		<h1 class="font-bold text-4xl white-gradient">
			Welcome to My <span class="text-gradient">Space</span>
		</h1>
	</main>
</Layout>

