<div class='flex justify-between my-10 mt-14'>
  <div class='flex items-center gap-2'>
    <a href='https://x.com/gokulnath_2329' target='_blank'>
      <img src='/icons/x.svg' alt='X' class='w-6 h-6' />
    </a>
    <a href='https://github.com/GOKULNATH-RS' target='_blank'>
      <img src='/icons/github.svg' alt='Github' class='w-6 h-6' />
    </a>
  </div>
  <div>
    <p class='text-lg font-light opacity-85 max-sm:text-sm'>
      Designed and Developed by <a
        href='https://gokulnathrs.me'
        target='_blank'
        class='underline'>Gokul</a
      >
    </p>
  </div>
</div>
