---
interface Props {
  title: string
  icon?: boolean
  count?: number
}

const { title, icon, count } = Astro.props
---

<header class='flex justify-between items-center py-4'>
  <div class='flex gap-1 items-center'>
    <a href='/' class='text-2xl max-sm:text-xl font-bold'>{title}</a>
    {
      icon && (
        <img
          src='/icons/waving-hand.svg'
          alt='Astro logo'
          class='w-6 h-6 max-sm:h-4 max-sm:w-4'
        />
      )
    }
  </div>
  <div class='text-light opacity-85 text-sm'>
    {icon && <p>Blogs publised: {count} </p>}
  </div>
</header>
