---
interface Props {
  tag: string
}

const { tag } = Astro.props
---

<div
  class='w-max h-[24px] max-sm:h-[16px] bg-[#0F0633] px-[10px] max-sm:px-[4px] py-[4px] max-sm:py-[2px] flex justify-center items-center rounded-[25px]'
>
  <p class='text-[10px] leading-[16px] max-sm:text-[6px]'>{tag}</p>
</div>
