---
import Footer from '../components/Footer.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='My Space is a personal blog website maintained by Gokul'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/png' href='/images/Logo.png' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class='bg-gradient-to-b min-h-screen from-[#040308] to-[#05010D] custom-scrollbar text-white'
  >
    <slot />
  </body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  :root {
    --text-gradient: linear-gradient(90deg, #3c00b5 0%, #20019b 100%);
    --white-gradient: linear-gradient(90deg, #ffffff 0%, #e0e0e0 100%);
  }

  html {
    font-family: 'Inter', system-ui;
  }

  .text-gradient {
    background-image: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .white-gradient {
    background-image: var(--white-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 3px;
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #040308;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #110922;
    border-radius: 50px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @keyframes dropDownAnimation {
    0% {
      translate: 0 -50px;
      opacity: 0;
    }

    100% {
      translatey: 0 0px;
      opacity: 1;
    }
  }

  @keyframes dropUpAnimation {
    0% {
      translate: 0 50px;
      opacity: 0;
    }

    100% {
      translatey: 0 0px;
      opacity: 1;
    }
  }

  .dropDown-animation {
    animation: dropDownAnimation 800ms ease;
  }

  .dropUp-animation {
    animation: dropUpAnimation 800ms ease;
  }
</style>
